:root {
    --main: #3888ff;
    --secondary: #6e9ad9;
    --neutral-black: #000405;
    --seo: #ff38a2;
    --seo-secondary: #d571a7;
    --design: #d4b361;
    --design-secondary: #dac590;
    --background-color: #ffffff;
    --background-color-header: #ffffff;
    --header-height: 80px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--neutral-black);
}

body {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(218, 218, 255, 0.237), white);
}

header {
    padding-left: 5rem;
    padding-right: 5rem;
}


main {
    padding-left: 5rem;
    padding-right: 5rem;
}

a {
    text-decoration: none;
    color: var(--neutral-black);
}

h1 {
    color: var(--neutral-black);
    font-weight: 900;
    font-size: 60px;
}

h2 {
    color: var(--neutral-black);
    font-weight: 900;
    font-size: 32px;
}

h3 {
    color: var(--neutral-black);
    font-weight: 900;
    font-size: 26px;
}

p {
    color: var(--neutral-black);
    font-weight: 400;
    font-size: 18px;
}