.main-content {
    padding: 20px;
}

.welcome-container {
    display: flex;
    columns: 1fr 1fr;
    height: 450px;
    border-bottom: 2px double #ffd1d1;
}

.paralax-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.paralax-wrapper-moje-prace {
    height: 450px;
    overflow: hidden;
    position: relative;
}

.paralax {
    display: flex;
    background-attachment: fixed;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transition: background-image 1s;
    transition-timing-function: ease;
}

.welcome-cotainer-text {
    display: inline;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.welcome-cotainer-text-img {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px double #ffd1d1;
    background-color: rgb(255, 254, 254);
}

.welcome-container-name{
    height: auto;
    margin: 6px;
}

.welcome-cotainer-text-description {
    display: flex;
    text-align: left;
    height: 50%;
    width: 100%;
    font-size: 25px;
}

.main-content-about-me {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.main-content-szkolenia {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.main-content-contact {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.main-content-faq {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.about-me {
    display: flex;
    columns: 1fr 1fr;
    height: 450px;
}

.about-me-image-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px;
    border-right-color: black;
    border-right-style: solid;
    justify-content: space-between;
}

.about-me-image {
    height: 300px;
    border-radius: 50%;
    border-color: rgba(255, 182, 182, 0.5);
    border-style: solid;
    border-width: 6px;
    transition: border-color 0.35s, height 0.15s, border-width 0.15s;
}

.about-me-image:hover {
    height: 296px;
    border-width: 8px;
    border-color: rgba(255, 182, 182, 0.75);
}

.main-content-gallery {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 350px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    object-fit: scale-down;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-button {
    font-size: 15px;
    background-color: rgba(247, 153, 153, 0.8);
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.category-button:hover {
    background-color: rgba(247, 153, 153, 1);
    box-shadow: 1px 1px 0 1px rgba(255, 182, 182, 0.3);
}

.category-button:active {
    background-color: rgb(255, 190, 190);
}

.active {
    font-size: 15px;
    background-color: rgba(252, 100, 100, 0.8);
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.active:hover {
    background-color: rgba(252, 100, 100, 1);
    box-shadow: 1px 1px 0 1px rgba(255, 182, 182, 0.3);
}

.active:active {
    background-color: rgba(255, 31, 31, 0.7);
}

.paralax-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.moje-prace-categories {
    background-color: rgb(255, 240, 243);
    margin-bottom: 10px;
}

#filter-container {
    position: sticky;
    top: 80px;
    z-index: 1000; /* Ensure the buttons appear above other content */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
  }
  
  .modal-content {
    position: relative;
    text-align: center;
    max-width: 80%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
    margin: auto;
  }
  
  .modal-content img {
    margin-top: 2.5vh;
    max-width: auto;
    max-height: 95vh;
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ae1212;
    text-decoration: none;
    cursor: pointer;
  }

  .close:active {
    color: #3f0000;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Adjust as needed */
    cursor: pointer;
    color: white;
    background-color: rgba(128, 128, 128, 0.5); /* Gray background */
    padding: 15px; /* Increase padding for larger arrows */
    border: none;
    z-index: 1;
    transition: color 0.2s, background-color 0.2s;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .prev:hover {
    background-color: rgba(128, 128, 128, 0.6);
    color: rgb(229, 121, 121);
  }

  .next:hover {
    background-color: rgba(128, 128, 128, 0.6);
    color: rgb(229, 121, 121);
  }

  .prev:active {
    color: rgb(197, 82, 82);
  }

  .next:active {
    color: rgb(197, 82, 82);
  }

.scroll-appear {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

.appear {
    opacity: 1 !important;
}

.faq-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
}

.faq-question {
    font-weight: bold;
    font-size: 40px;
    color: rgba(152, 62, 62, 0.75);
}

.blog-main {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.blog-card{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.blog-photo-placeholder {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-photo-placeholder-a {
    width: 200px;
    height: 200px;
}

.blog-photo-placeholder img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    display: block;
    margin: auto;
}

.blog-text-placeholder {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.blog-title {
    font-size: 50px;
    font-weight: bold;
}