.main-content {
    padding: 20px;
}

.welcome-container {
    display: flex;
    columns: 1fr 1fr;
    height: 450px;
    border-bottom: 2px double #ffd1d1;
}

.paralax-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.paralax-wrapper-moje-prace {
    height: 450px;
    overflow: hidden;
    position: relative;
}

.paralax {
    display: flex;
    background-attachment: fixed;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.welcome-cotainer-text {
    display: inline;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.welcome-cotainer-text-img {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px double #ffd1d1;
    background-color: rgb(255, 254, 254);
}

.welcome-container-name{
    height: auto;
    margin: 6px;
}

.welcome-cotainer-text-description {
    display: flex;
    text-align: left;
    height: 50%;
    width: 100%;
    font-size: 25px;
}

.main-content-about-me {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.about-me {
    display: flex;
    columns: 1fr 1fr;
    height: 450px;
}

.about-me-image-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px;
    border-right-color: black;
    border-right-style: solid;
}

.about-me-image {
    height: 300px;
    border-radius: 50%;
    border-color: rgba(255, 182, 182, 0.5);
    border-style: solid;
    border-width: 6px;
    transition: border-color 0.2s;
}

.about-me-image:hover {
    height: 296px;
    border-width: 8px;
    border-color: rgba(255, 182, 182, 0.75);
}

.main-content-gallery {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px double #ffd1d1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 350px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    object-fit: scale-down;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-button {
    font-size: 15px;
    background-color: rgba(247, 153, 153, 0.8);
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.category-button:hover {
    background-color: rgba(247, 153, 153, 1);
    box-shadow: 1px 1px 0 1px rgba(255, 182, 182, 0.3);
}

.category-button:active {
    background-color: rgb(255, 190, 190);
}

.main-content-contact {
    display: flex;
    flex-direction: row;
}

.paralax-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.moje-prace-categories {
    background-color: rgb(255, 240, 243);
    margin-bottom: 10px;
}

#filter-container {
    position: sticky;
    top: 80px;
    z-index: 1000; /* Ensure the buttons appear above other content */
}